@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

#header {
    background-color: aliceblue;
}

#sidebar {
    background-color: rgb(62, 182, 230);
}

#main {
    background-color: lightgrey;
}

.card {
    background-color: white;
    border-radius: 5px;
}

