@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
   
}

body {
    margin: 0px; 
    color:rgb(31, 31, 31)
}

#container {
    display: grid;
    grid-template-rows: 15fr 85fr;
    grid-template-columns: 1fr 5fr;
}

#header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    padding: 0px 30px 0px 30px;
    display: grid;
    align-content: center;
    grid-template-rows: auto;
    gap: 15px;
}

#header svg {
    width: 25px;
    height: 25px;
}

.top-row {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2rem;
}

.top-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 85px;
}

#username {
    font-size: 1.2rem;
}

.top-left {
    display: flex;
    align-items: center;
}

.search-container {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #ebeaea;
    padding-left: 5px;
}

.search-container input[type="text"] {
    width: 50%;
    flex: 1;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
    background-color: #ebeaea;
    outline: none;
}

.search-container button[type="submit"] {
    width: 70px;
    padding: 5.5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
}

.pfp {
    border-radius: 50px;
    border: 2px solid rgba(65, 138, 126, 0.897);
    max-width: 60px;
    max-height: 60px;
}

#main-pfp {
    width: 41px;
    height: 41px;
}

#sub-pfp{
    width: 38px;
    height: 38px;
}

.pfp-trend {
    width: 37px;
    height: 37px;
}

.bottom-row {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

#big-profile {
    gap: 1.5rem;
}

.nest-parent {
    display: flex;
    gap: 1rem;
}

button{
    height: 2rem;
    width: 100px;
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
button:active,
button:focus {
  outline: none;
}
button:hover {
  background-position: -20px -20px;
}
button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-self: center;
    gap: 10%
}

#sidebar {
    background-color: rgb(62, 182, 230);
    grid-area: 1 / 1 / 3 / 2;
    padding: 2rem;
    color: white;
}

#sidebar svg {
    width: 27px;
    height: 27px;
    fill: white;
}

#logo, #home, #profile, #message, #history, #tasks, #communities, #settings, #support, #communities {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 17px;
}

#logo, #communities {
    margin-bottom: 50px;
}

#board {
    background-color: #dfdddd;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2rem 1fr;/* align #your-projects to bottom */
    padding: 1rem;
    column-gap: 1rem;
    padding-bottom: 40px;
    
}

p#your-projects {
    grid-area: 1 / 1 / 2 / 2;
    text-align: bottom;
}

p#announcement {
    grid-area: 1 / 2 / 2 / 3;
}

#main {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px,1fr));
    gap: 1rem;
}

.card {
    background-color: white;
    border-radius: 25px;
    padding: 1rem;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    gap: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.card-icons svg {
    fill: rgb(39, 39, 39);
}

svg {
    width: 30px;
    height: 30px;
}

.pj-card {
    border-left: 10px solid rgba(65, 138, 126, 0.897);
    display: flex;
    flex-direction: column;

}

.text-part {
    padding: 10px;
}

.pj-card p {
    margin-top: 5px;
}

.announcement p {
    margin-top: 4px;
}

.trending p {
    margin-top: 2px;
}

.card-header {
    grid-area: 1 / 1 / 2 / 2;
}

#sub {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
}

.announcement {
    padding-top: 3px;
    padding-bottom: 3px;
}

.ann {
    margin: 14px 12px 14px 12px;
}

#trend-card {
    padding-top: 3px;
    padding-bottom: 3px;
}

.trending {
    margin-top: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tre {
    margin: 14px 12px 14px 12px;
}

